<html>
<head>
<title>Login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body background="manage-images.png">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="margin-top: 5%;">
			<div class="panel panel-default">
				<div class="panel-heading"> sign up page
				</div>
					<div class="panel-body">
						<form class="form-horizontol" method="post" action="signuppage">
							<div class="form-group">
								<label class="col-sm-6 col-md-6 col-lg-6"> Username </label>
								<div class="col-sm-6 col-md-6 col-lg-6">
								 	<input type="text" class="form-control" name="username" id="username">
								</div>

							</div>
							<div class="form-group">
							   <label class="col-sm-6 col-md-6 col-lg-6"> Password </label> 
							   <div class = "col-sm-6 col-md-6 col-lg-6">
							     <input type="password" class="form-control" name="password" id="password">
							   </div>  
							   
							</div>
							<div class="form-group">
							   <label class="col-sm-6 col-md-6 col-lg-6"> First Name </label> 
							   <div class = "col-sm-6 col-md-6 col-lg-6">
							     <input type="text" class="form-control" name="fname" id="fname">
							   </div>  
							   
							</div>
							
							<div class="form-group">
							   <label class="col-sm-6 col-md-6 col-lg-6"> Last Name </label> 
							   <div class = "col-sm-6 col-md-6 col-lg-6">
							     <input type="text" class="form-control" name="lname" id="lname">
							   </div>  
							   
							</div>
							
							<div class="form-group">
							   <label class="col-sm-6 col-md-6 col-lg-6"> Gender </label> 
							   <div class = "col-sm-6 col-md-6 col-lg-6">
							     <input type="text" class="form-control" name="gender" id="gender">
							   </div>  
							   
							</div>
							<div class="form-group">
							   <label class="col-sm-6 col-md-6 col-lg-6"> date of birth </label> 
							   <div class = "col-sm-6 col-md-6 col-lg-6">
							     <input type="date" class="form-control" name="dob" id="dob">
							   </div>  
							   
							</div>
							<div class="form-group">
							 <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
							 	<button type="signup" class="btn btn-primary"> sign up </button>
							 </div>
							</div>
						</form>
					</div>
					<div class="panel panel-footer"> </div>
           </div>
	   </div>
	</div>
</div>